{% extends 'base.html.twig' %}

{% block title %}{{ form.vars.value.id ? 'Modifier le post' : 'Créer un post' }}{% endblock %}

{% block body %}
    <h1>{{ form.vars.value.id ? 'Modifier le post' : 'Créer un post' }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.contenu) }}
        <button class="btn btn-primary">{{ form.vars.value.id ? 'Modifier' : 'Créer' }}</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_discussion_list') }}" class="btn btn-secondary">Retour à la liste des discussions</a>
{% endblock %}
