<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>
            <!-- Votre menu de navigation -->
            <nav>
                <ul>
                    <li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ path('admin_user_list') }}">Utilisateurs</a></li>
                    <li><a href="{{ path('admin_event_list') }}">Événements</a></li>
                    <li><a href="{{ path('admin_discussion_list') }}">Discussions</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
